html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: #111;
  color: #f0f8ff;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
*, *:before, *:after {
  box-sizing: border-box;
}

/* Estilos para el contenido principal */
main {
  display: block;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

/* Estilos para la estructura principal de los relojes */
.main-clocks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid #fff;
  height: 100vh;
}
@media screen and (min-width: 1024px) {
  .main-clocks {
      flex-direction: row;
      height: 50vh;
      max-width: 800px;
      margin-inline: auto;
  }
}
.digital-clock, .secondary-clocks {
  display: flex;
}
.secondary-clocks {
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

/* Estilos para el reloj digital */
.digital-clock {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.time {
  font-size: 4rem;
  font-weight: 900;
}
.date {
  font-size: 2rem;
  margin: 0;
}
.text {
  font-size: 2rem;
}
.text--red {
  color: red;
}

/* Estilos para el reloj analógico */
.analogic-clock {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  outline: 7px solid #282828;
  padding: .8rem;
  position: relative;
  box-shadow: -4px -4px 10px rgba(67, 67, 67, .5),
              inset 4px 4px 10px rgba(0, 0, 0, .5),
              inset -4px -4px 10px rgba(67, 67, 67, .5),
              4px 4px 10px rgba(0, 0, 0, .3);
}
.outer-clock-face {
  background: #282828;
  border-radius: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  width: 100%;
}
.outer-clock-face:before, .outer-clock-face:after {
  background: #fff;
  content: "";
  height: 100%;
  left: 49%;
  position: absolute;
  width: 5px;
  z-index: 0;
}
.outer-clock-face:after {
  transform: rotate(90deg);
}
.marking {
  background: #bdbdcb;
  width: 3px;
}
.marking-one { transform: rotate(30deg); }
.marking-two { transform: rotate(60deg); }
.marking-three { transform: rotate(120deg); }
.marking-four { transform: rotate(150deg); }
.inner-clock-face {
  background: #282828;
  border-radius: 100%;
  height: 80%;
  left: 10%;
  position: absolute;
  top: 10%;
  width: 80%;
  z-index: 1;
}
.inner-clock-face:before {
  background: #4d4b63;
  border-radius: 18px;
  content: "";
  height: 16px;
  left: 50%;
  margin-left: -8px; /* Ajustado para centrar */
  margin-top: -8px; /* Ajustado para centrar */
  position: absolute;
  top: 50%;
  width: 16px;
  z-index: 11;
}

/* Estilos para las manecillas del reloj analógico */
.hand {
  background: #fff;
  border-radius: 6px;
  bottom: 50%;
  left: 50%;
  position: absolute;
  transform-origin: bottom center;
  transition-timing-function: cubic-bezier(.1, 2.7, .58, 1);
  width: 2px;
}
.hour-hand {
  height: 100px;
  width: 8px;
  transform: rotate(var(--hours-rotate));
}
.min-hand {
  height: 120px;
  width: 4px;
  transform: rotate(var(--minutes-rotate));
}
.second-hand {
  background: #ee1a1a;
  height: 150px;
  width: 2px;
  transform: rotate(var(--seconds-rotate));
}
